<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<app-search-bar (searchTextChanged)="onSearchTextEntered($event)"></app-search-bar>
<div class="container">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="%25" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let champion of champion">
            <div *ngIf="searchText === '' || champion['name'].toLowerCase().includes(searchText)">
                <a routerLink="/RateChampion/{{champion['name']}}/{{champion['id']}}">
                    <!-- <mat-card class="my-card">
                        <mat-card-header>
                            <img mat-card mat-card-image [src]="imgRef[champion['name']]" alt="Nasfd">
                            <mat-card-title>{{champion['name']}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-footer>
                            <label class="fas fa-star"></label>
                        </mat-card-footer>
                    </mat-card> -->
                    <figure class="snip1577 my-card">
                        <img [src]="imgRef[champion['name']]" alt="Nimic" />
                        <figcaption>
                            <h3>{{champion['name']}}</h3>
                            <h4>Rate {{champion['rate']}}</h4>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>